/* Portfolio Page CSS Styling */

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

header {
    background-color: red;
}