html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Home Page CSS Styling */

.home_page{
    background-image: url('dronephoto1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 2fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.container {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(179,179,170,0.7);
    border-radius: 10px
}

.container header {
    grid-row: 1 / 2;
    text-align: center;
    color: rgba(19,12,18,1);
    font-family: "Fredericka the Great";
    font-weight: bold;
    font-size: 12pt
}

.container header h2 {
    margin: 0 auto;
    font-size: 14pt;
}

.container nav {
    grid-row: 2 / 3;
}

.container nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Fredericka the Great'
}

.container nav ul li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    font-size: 14pt;
}

.container nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border: 1px solid none;
}

.container nav ul li a:hover {
    color: rgba(37, 111, 172, 0.8); 
    box-shadow: 0 2px 0 0 rgba(37, 111, 172, 0.8);
}

.icon-container {
    position: absolute;
    top: 45px;
    right: 70px;
    text-align: center;
    font-size: 40px;
    display: flex;
    width: 155px;
    justify-content: space-evenly;
    justify-self: baseline;
    height: 40px;
}

.icon-container a {
    text-decoration: none;
    color: whitesmoke;
    height: min-content;
}

.icon-container a i {
    width: 40px;
}


.icon-container a i:hover {
    color: black;
}

/* End of Home Page CSS Styling */

/* Portfolio Page CSS Styling */

.portfolio {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.content-container {
    grid-column: 2 / 3;
    background-color: lightgray
}