html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Home Page CSS Styling */

.home_page{
    background-image: url('dronephoto1b&w.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 2fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.container {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(179,179,170,0.8);
    border-radius: 10px
}

.container header {
    grid-row: 1 / 2;
    text-align: center;
    color: rgba(19,12,18,1);
    font-family: "Fredericka the Great";
    font-size: 12pt
}

.container header h2 {
    margin: 0 auto;
    font-size: 14pt;
}

.container nav {
    grid-row: 2 / 3;
}

.container nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Fredericka the Great'
}

.container nav ul li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    font-size: 14pt;
}

.container nav ul li a {
    text-decoration: none;
    color: rgba(42,36,41,1);
}

.container nav ul li a:hover {
    color: black
}

.icon-container {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    text-align: center;
    font-size: 40px;
    display: flex;
    width: 110px;
    justify-content: space-evenly;
    justify-self: center;
    height: 40px;
}

.icon-container a {
    text-decoration: none;
    color: rgba(255,255,255,1);
    height: min-content;
}


.icon-container a:hover {
    color: rgba(168,122,162,1);
}

/* End of Home Page CSS Styling */

/* Portfolio Page CSS Styling */

.portfolio {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.content-container {
    grid-column: 2 / 3;
    background-color: lightgray
}