html {
    width: 100vw;
    height: 100vh;
}

.home_page {
    background-image: url('background-image/dronephoto1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.main_container {
    background-color: rgba(179,179,170,0.40);
    display: inline-block;
    position: relative;
    top: 72px;
    width: 600px;
    height: 280px;
    border-radius: 8px;
    border: 3px solid black;
}

.main_container header {
    text-align: center;
    color: rgba(19,12,18,1);
    font-family: "Fredericka the Great";
    font-weight: bold;
    font-size: 22pt;
    padding-right: 6px;
    padding-left: 6px;
}

.main_container header h1{
    margin-top: 10px;
    margin-bottom: 0;
}

.main_container header h2 {
    font-size: 20pt;
    margin: 0 auto;
}

.main_navigation {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.main_navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    font-family: "Fredericka the Great";
    width: 490px;
}

.main_navigation ul li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    font-size: 14pt;
}

.main_navigation ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    border: 1px solid none;
}

.main_navigation ul li a:hover {
    color: rgba(205,77,47,1);
    box-shadow: 0 2px 0 0 rgba(207,77,47,1)
}

.icon-container {
    position: absolute;
    display: flex;
    width: 240px;
    height: 70px;
    right: 25px;
    justify-content: space-evenly;
    align-items: center;
    top: 5px;
}

.icon {
    color: black;
    height: min-content;
}

.icon:hover {
    color: white;
}

.language-dropdown {
    position: relative;
    display: block;
    align-items: center;
    top: 15px;
}

.languages {
    background-color: rgba(0,0,0,0);
    border: 0;
    cursor: pointer;
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;
}

.languages:hover {
    color: white;
}

.lang-items {
    visibility: hidden;
}

.language-items {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 8px;
}

@media (max-width: 1100px) {
    .language-items {
        position: relative;
        top: -35px;
        right: 4em;
    }
}

@media (max-width: 447px) {
    .main_container header h1 {
        font-size: 40pt;
    }

    .main_container header h2 {
        font-size: 17pt;
    }

    nav {
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .main_container {
        height: 265px;
    }
    .main_container header h1{
        font-size: 35pt;
    }

    .main_container header h2 {
        font-size: 15pt;
    }

    nav {
        width: 100vw;
        align-items: center;
    }

    .main_navigation ul li a  {
        font-size: 13pt;
        text-align: center;
    }
}